<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Bill On Time</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Project1.styles.css" asp-append-version="true" />
    <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-CWYDMTZSZ2"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-CWYDMTZSZ2');
</script>
</head>
<body style="background:#f0f7f7">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-page="/Index"><img src="~/Imgs/bill.png" style="height:20%;width:10%"/> BillOnTime</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Home">Home</a>
                        </li>
                       @* <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>*@

                        




                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AddBill">AddBill</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/PayBill">PayBill</a>
                        </li>
                         <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/AllBill">AllBill</a>
                        </li>
                        @if(Context.Request.Cookies["Username"] == null)
     {
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/SignUp">SignUp</a>
                        </li>
     }

     @if(Context.Request.Cookies["Username"] != null)
                         {
                             <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/LogOff">LogOff</a>
                        </li>
                            
                        }else{
                             <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-page="/Login">Login</a>
                        </li>
                        }
                        
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <app-footer _ngcontent-rry-c23="" _nghost-rry-c22=""  >
        <nav _ngcontent-rry-c22="" class="navbar fixed-bottom navbar-light bg-white">
            <div _ngcontent-rry-c22="" class="container-fluid" style="color:dimgray">
                <a _ngcontent-rry-c22="" href="/home" class="navbar-brand" style="color: rgb(128 128 128);">
                    <i _ngcontent-rry-c22="" class="devicon"></i></a>
                <a _ngcontent-rry-c22="" href="https://github.com/ShabnamShaikk/billsOnTime" class="navbar-brand">
                    <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> REPO</a>
                <a _ngcontent-rry-c22="" href="https://github.com/ShabnamShaikk/billsOnTime/projects/1" class="navbar-brand">
                    <i _ngcontent-rry-c22="" class="devicon-github-original colored"></i> Working planing</a>
            </div>
        </nav>
    </app-footer>

@*     @if(Context.Request.Cookies["Username"] != null)
     {
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2022 - BillOnTime - @Context.Request.Cookies["UserName"] - <a asp-area="" asp-page="/LogOff">Log Off</a>
            </div>
        </footer>
    }*@
    <script src="~/lib/jquery/dist/jquery.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script>

    $(".one2").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
});
    $(".two2").click(function() {
  window.location = $(this).find("a").attr("href"); 
  return false;
});
</script>
    @await RenderSectionAsync("Scripts", required: false)
    
</body>
</html>
