@page
@model ErrorModel
@{
    ViewData["Title"] = "Error";
}

<h1 class="text-danger">Error.</h1>
<h2 class="text-danger">An error occurred while processing your request.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Issue:</strong> <code>No Internet</code>
    </p>
}

<h3>Development Mode</h3>
<p>
    Please re-try, or check your internet connection. Restart your router.
</p>

