@page
@model IndexModel
@{
    ViewData["Title"] = "Wellcome";
}

<div class="text-center">
    <h1 class="display-4">Welcome <br /> To <br /> Bill On Time</h1>
    <p>"You can take chance<br />With any person<br />Who pays<br />Their<br />Bill On Time"</p>
    <img src="~/images/billimage.jpg" style="height:30%;width:20%"/>
    <br />
    <a class="btn btn-primary" role="button"  asp-page="/Home">More..</a>
</div>
