@page
@model Project1.Pages.Account.LoginModel
@{
    ViewData["Title"] = "Login";
}
<div class="container border-0" >
    <form method="post">
        <div class="text-danger" asp-validation-summary="ModelOnly"></div>
        <div class="Form-group row">
            <div class="col-3">
                <label asp-for="Credential.UserName"></label>
            </div>
            <div class="col-5">
                <input name="Username" type="text" asp-for="Credential.UserName" class="form-control" />
                <span class="text-danger" asp-validation-for="Credential.UserName">*</span>
            </div>
            
            </div>
            <br />

            <div class="Form-group row">
            <div class="col-3">
                <label asp-for="Credential.Password"></label>
            </div>
            <div class="col-5">
                <input name="Password" type="password" asp-for="Credential.Password" class="form-control"/>
                <span class="text-danger" asp-validation-for="Credential.Password">*</span>
            </div>
            
            </div>
            <br />

            <div class="Form-group row">
            <div class="col-3">
                <input name="submit" type="submit" value="Forgot Password" class="btn btn-light"/>
            </div>
            <div class="col-5">
                <input name="submit" type="submit" value="Log In" class="btn btn-primary"/>
                <br />
                @if (ViewData["Lerror"] == "T")
                {
                    <p>Please Re-try, User Name or Password Incorrect</p>
                }
            </div>




            </div>
            
            @if(@ViewData["Disp"] == "E")
            {
                <br /><br />
            <div class="Form-group row">
            <div class="col-3">
                <label>Provide Your Email ID</label>
            </div>
            <div class="col-5">
                <input name="Femail" type="email" class="form-control" placeholder="Please Enter Your Valid Email ID"/>
                <input name="submit" type="submit" value="Request" class="btn btn-primary"/>
            </div>
            
            </div>
            }
    </form>
</div>