swagger: "2.0"
info:
  description: "This is the Swagger API Documentation for application Bills on Time"
  version: "1.0.0"
  title: "Bills on Time"
  termsOfService: "http://swagger.io/terms/"
  contact:
    email: "shabnam.chandini@gmail.com"
  license:
    name: "Apache 2.0"
    url: "http://www.apache.org/licenses/LICENSE-2.0.html"
host: "billson.herokuapp.com"
basePath: "/api"
tags:
- name: "user"
  description: "User Login Credentials"
- name: "allbills"
  description: "Details of All the bills viewed by user"

schemes:
- "https"

paths:
  /users:
    get:
      tags:
      - "user"
      summary: "Get a list of all the users"
      description: ""
      operationId: "getUsers"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      responses:
        "405":
          description: "Invalid input"

    post:
      tags:
      - "user"
      summary: "Add user login credentials"
      description: ""
      operationId: "postUser"
      consumes:
      - "application/json"
      produces:
      - "application/json"
      parameters:
      - name: "userName"
        in: "query"
        description: ""
        required: true
        type: "string"
      - name: "email"
        in: "query"
        description: ""
        required: true
        type: "string"
      - name: "password"
        in: "query"
        description: ""
        required: true
        type: "string"    
      responses:
        "200":
          description: "successful operation"
          schema:
            type: "array"
            items:
              $ref: "#/definitions/user"
        "400":
          description: "Invalid status value"

/billinformation:
definitions:
  user:
    type: "object"
    properties:
      userName:
        type: "string"
      email:
        type: "string"
      password:
        type: "string"

  allbills:
    type: "object"
    properties:
      billName:
        type: "string"
      address:
        type: "string"
      hours:
        type: "string"
      phoneNumber:
        type: "string"
      photo:
        type: "string"

 
externalDocs:
  description: "Find out more about Swagger"
  url: "http://swagger.io"
